*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 100vw;
    height: 100vh;
}
.pos{
    width: calc(100%-50px);
    height: 200px;
    background-color: #eee;
    box-shadow: #dfdfdf 0px 0px 15px 20px inset;
    margin: 50px;
    border: 1px solid;
    overflow-y: scroll;
}
.box{
    width: 70px;
    height: 70px;
    background-color: rgb(18, 92, 105);
}

.box1{
    background-color: rgb(192, 111, 4);
    position: relative;
    top: 50px;
    left: 50px;
}

.box2{
    background-color: #3d22ff;
    position: absolute;
    top: 100px;
    left: 150px;
}

.box3{
    background-color: #ff00fd;
    position: fixed;
    top:500px;
    left:700px;
}

.box4{
    background-color: #ebe70a;
    position: sticky;
    top:0;
    left:0;
}

